* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    max-width: 1080px;
    min-width: 720px;
    margin: 0 auto;
}

/* Navbar */

header {
    background-color: white;
    color: black;
}

#title {
    float: left;
    padding: 10px 10px 10px 0px;
    
}

nav {
    text-align: right;
    overflow: hidden;
    padding: 20px 20px 4px 0px;
    border-bottom: 1px solid black;
}

.navbutton {
    outline: none;
    position: relative;
    top: -5px;
    padding: 0 20px;
    font-family: "Apple Garamond", "Georgia", "FreeSerif", serif;
    text-decoration: none;
    color: black;
    font-size: 15pt;
    vertical-align: middle;
}

.navbutton img {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

/* Main content */

figure {
    padding-top: 0px;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
    background-color: black;
}

figcaption {
    font: italic 0.9em "Georgia";
    color: white;
    padding: 4px;
}

figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.credit {
    position: absolute;
    padding: 3px;
    top: 0; 
    right: 0;
    opacity: 0.8;
}

#post-content {
    text-align: justify;
    font: 0.9em "Georgia";
}

.author-info {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 8px;
    background-color: white;
}

.author-info h2 {
    border-bottom: 1px solid black;
    background-color: black;
    color: white;
    font: bold italic 1.1em "Georgia";
    text-align: center;
    padding-top: 1px;
}

.author-info img {
    max-width: 100%;
}

#authors-info {
    font: 0.8em "Georgia";
    float: left;
    text-align: justify;
    width: 180px;
    max-width: 180px;
    margin-right: 5px;
    height: 100%;
}

#authors-info h1 {
    font: bold 1.0em "Georgia";
    margin-bottom: 4px;
    text-align: center;
}

article {
    display: inline-block;
    width: 680px;
    background-color: white;
    margin-bottom: 200px;
}

article h1 {
    font: bold 2.5em "Georgia";
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 0px 0px 5px 0px; 
    margin: 0px 0px 5px 0px;
    border-bottom: 1px dashed #ccc;
}

#comments-title {
    font: bold 1.2em "Georgia";
    font-style: italic;
    text-align: center;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: none;
}

.description {
    font: 0.8em "Georgia";
    font-style: italic;
    text-align: center;
    padding: 0px 0px 5px 0px;
}

article time {
    text-align: center;
    font: bold 12pt "Georgia";
    padding: 0px 0px 0px 0px;
    display: block;
}

article a {
    text-decoration: none;
    color: #23a;
}

#post-content {
    font: 1.0em "Georgia";
    text-align: justify;
}

#post-content p {
    margin-top: 1em;
}

article blockquote p {
    font-style: italic;
    text-align: left;
    padding-left: 1em;
    padding-bottom: 0px;
    padding-top: 0px;
}

aside {
    float: right;
    width: 210px;
    margin: 0;
    background-color: white;
}

#summaries .summary ,
#search-summaries .summary {
    display: block;
    text-decoration: none;
    color: black;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    font-family: "Georgia";
    background-color: white;
    outline: none;
    box-shadow: 0px 2px 10px #f4f4f4;
}

#summaries .summary:active {
    background-color: #fafafa;
}

#summaries .summary img, #summaries .summary figure, #home-summaries figcaption {
    display: none;
}

#home-summaries .summary,
#search-summaries .summary,
#misc .little-box {
    outline: none;
    background-color: white;
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
    font-family: "Georgia";
}

#home-summaries .summary:hover,
#search-summaries .summary:hover {
    box-shadow: 0px 4px 40px #efefef;
}
#home-summaries .summary:active,
#search-summaries .summary:active {
    background-color: #efe;
}

aside h1 { font: italic bold 1em "Georgia"; }

.fragment h2 {
    font: italic 0.9em "Georgia";
    margin-bottom: 5px;
}

.summary .fragment {
    margin-top: 0px;
    text-align: justify;
    font-size: 0.8em;
}

.summary.selected {
    background-color: #efe !important;
}


#tags {
    margin-bottom: 3px;
}

#tags .tag {
    line-height: 20px;
    background-color: #eee;
    padding: 3px;
    color: black;
    font-family: sans-serif;
    font-size: 0.7em;
    margin: 0 2px;
    text-decoration: none;
    outline: none;
}

#tags .selected {
    outline: none;
    background-color: #efe;
    border: 1px solid #292;
    padding: 2px;
    line-height: 20px;
    color: black;
    font-family: sans-serif;
    font-size: 0.7em;
    margin: 0 2px;
    text-decoration: none;
}

.comment {
    font-family: "Georgia";
    border-top: 1px dashed #ccc;
    padding: 2px;
    margin: 2px 0;
}

.comment:nth-child(even) {
    background-color: #f9f9f9;
}

#thread {
}

.comment-author {
    float: right;
    position: relative;
    font-style: italic;
    font-size: 0.8em;
    top: 2px;
}

.comment-id {
    float: left;
    position: relative;
    font-style: monospace;
    font-size: 0.9em;
    top: 2px;
}

.comment-content {
    border-bottom: 1px dashed #eee;
    font-size: 1em;
    white-space: pre-line;
}

/* Comment submission form */
#comment-submit {
    margin-top: 5px;
    border-top: 1px dotted #ccc;
    display: block;
    width: 100%;
}

input {
    font-family: "Georgia";
    border: none;
    background-color: #f9f9f9;
    color: #222;
}

#search-field {
    display: block;
}

#search-field input {
    font-size: 1em;
    padding-left: 5px;
    margin-bottom: 1em;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    width: 100%;
}

.field-label {
    font: bold 1.0em "Georgia";
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
}

.pull-left {
    float: left;
}

.pull-right {
    overflow: hidden;
}

#comment-submit input, #comment-submit textarea {
    box-sizing: border-box;
    padding: 3px;
    background-color: #f9f9f9;
    font-family: "Georgia";
    color: #222;
}

#comment-submit textarea {
    border: none;
    border-top: 1px dotted #ccc;
    width: 100%;
}

#comment-submit {
    width: 100%;
    overflow: hidden;
}

#submit-name, #submit-email {
    font-size: 0.9em;
    font-style: italic;
    display: block;
}

#submit-name { float: left; width: 50%; }
#submit-email { float: right; width: 50%; }

#submit-field {
    display: block;
    border-top: 1px dotted #ccc;
    width: 100%;
    resize: vertical;
}

/* Captcha styling */
.g-recaptcha, .g-captcha div, .g-captcha div div {
    margin: auto;
    width: 304px;
    padding: 10px;
}

#submit, #verify {
    width: 100% !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    font-size: 0.9em !important;
    background-color: black !important;
    border: none !important;
    color: #eee !important; 
    text-align: center !important;
    display: block !important;
    height: 2em !important;
    line-height: 2em !important;
    padding: 0 !important;
    margin: 0 !important;
}

#captcha {
    width: 100%;
    display: none;
    background-color: #f9f9f9;
    border-top: 1px dotted #ccc;
}

#verify:hover, #submit:hover {
    background-color: #444 !important;
    cursor: pointer;
}

#home-summaries {
    background-color: #eee;
}

#search-summaries, #home-summaries {
    display: block;
    margin-bottom: 40px;
    border-top: 1px dashed #dedede;
    box-shadow: 0px 0px black 10px;
    padding-top: 2px;
}

#home-summaries .summary time,
#search-summaries .summary time {
    font-weight: bold;
    text-align: center;
    display: block;
}

#home-summaries .summary h1,
#search-summaries .summary h1 {
    font: bold italic 1.6em "Georgia";
    border-bottom: 1px dashed #ccc;
    padding-bottom: 2px;
    display: block;
    text-align: center;
    margin: 10px;
}

#home-summaries .summary h2 ,
#search-summaries .summary h2 {
    font: italic 0.9em "Georgia";
    text-align: center;
}

#home-summaries .summary .fragment,
#search-summaries .summary fragment {
    clear: both;
    font-size: 1em;
    display: block;
}

#search-summaries figure { display: none; }

#features figure {
    margin-bottom: 4px;
}

#features .summary .fragment {
    font-size: 0.94em;
}


#features .summary img {
    width: 100%;
}

#new {
    float: left;
    width: 30%;
    font-size: 0.8em;
}

#new figure {
    float: left;
    width: 30%;
    margin: 5px;
}

#features-heading {
    font: bold italic 1em "Georgia";
    color: white;
}

#features {
    display: inline-block;
    background-color: black;
    box-sizing: border-box;
    padding: 4px;
    width: 40%;
    height: 100%;
}

#misc {
    float: right;
    width: 30%;
    box-sizing: border-box;
}

#misc h2 {
    font-size: 1.3em;
    font: bold italic 1em "Georgia" ;
}

#misc p {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    text-align: justify;
}

#player {
    display: none;
}

#now-playing, #player {
    height: 148px;
    background-image: url("/static/woroni radio.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 160px;
}

#contributors {
    width: 100%;
}

#contributors td:nth-child(odd) {
    font: italic 0.9em "Georgia";
}

#contributors td:nth-child(even) {
    font: bold 0.8em sans-serif;
}

a {
    text-decoration: none;
    color: #23a;
}
